# Python general
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.env
*.venv
venv/
ENV/
env/
venv.bak/
.vscode/

# Django general
*.log
db.sqlite3
*.sqlite3-journal

# Environment variables
.env

# Django migrations (ignora migraciones salvo __init__.py)
**/migrations/*.py[cod]
**/migrations/[!__init__].py

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
log.txt

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Archivos estáticos y de medios
staticfiles/
media/

# Entorno virtual
entorno_virtual/